[Unit]
Description="Shadowsocks service"

[Service]
#EnvironmentFile=/etc/sysconfig/shadowsocks
ExecStartPre=-/usr/bin/sslocal -c /etc/shadowsocks.json -d stop
ExecStart=/usr/bin/sslocal -c /etc/shadowsocks.json -d start 
ExecStartPost=/usr/bin/sleep 5
ExecStop=/usr/bin/sslocal -c /etc/shadowsocks.json -d stop 
SyslogIdentifier=shadowsocks
Restart=always
RestartSec=5s

[Install]
WantedBy=shadowsocks.service

